<!doctype html>
<!-- 
 Help of bootstrap simple admin template Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
    and one other bootstrap example for awesome table Website: I don't remember the source, but I found it on the 
    internet.
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard | SMS Verification</title>
<!-- add from other bootstape example for awesome table -->
    <link href="static/assets/css/styles1.css" rel="stylesheet" >
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<!-- add from other bootstape example for awesome table -->

    <link href="static/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="static/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="static/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/css/master.css" rel="stylesheet">
    <link href="static/assets/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
    <script src="static\assets\vendor\jquery\jquery.min.js"></script>
    <script src="static\assets\vendor\bootstrap\js\bootstrap.min1.js"></script>

</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="{{ url_for('main.index',user_name=user_name) }}"><i class="fas fa-home"></i> Dashboard</a>
                </li>
                {% if user_name == 'Guest' %}
                    <li>
                        <a href="#authmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-user-shield"></i> Authentication</a>
                        <ul class="collapse list-unstyled" id="authmenu">
                            <li>
                                <a href="{{ url_for('auth.login') }}"><i class="fas fa-lock"></i> Login</a>
                            </li>
                            <li>
                                <a href="{{ url_for('auth.signup') }}"><i class="fas fa-user-plus"></i> Signup</a>
                            </li>
                            <li>
                                <a href="{{ url_for('auth.forgot_password') }}"><i class="fas fa-user-lock"></i> Forgot password</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if permission_level == "a" %}
                    <li>
                        <a href="{{ url_for('main.users') }}"><i class="fas fa-user-friends"></i>Users</a>
                    </li>
                {% endif %}
                <!--li>
                    <a href="settings.html"><i class="fas fa-cog"></i>Settings</a>
                </li-->
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    
                                    <i class="fas fa-user"></i>
                                    <span> {{user_name}} </span> 
                                     <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="{{ url_for('main.profile') }}" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="{{ url_for('auth.logout') }}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 page-header">
                            <div class="page-pretitle">Trial version</div>
                            <h2 class="page-title">SMS Verification Dashboard</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="orange fas fa-envelope"></i>
                                            </div>   
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">All messages</p>
                                                {% if all_count is none %}
                                                    <p>No entries found</p>
                                                {% else %}
                                                    <span class="number">{{all_count.get('I', 0) + all_count.get('V', 0) + all_count.get('N', 0)}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-envelope-open-text"></i> Last month
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="teal fas fa-thumbs-up"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">Valid Serials</p>
                                                {% if all_count is none %}
                                                    <p>No entries found</p>
                                                {% else %}
                                                    <span class="number">{{all_count.get('V', 0)}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-calendar"></i> Last month
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="fas fa-times-circle" style="color: rgb(255, 30, 30)"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">Invalid Serials</p>
                                                {% if all_count is none %}
                                                    <p>No entries found</p>
                                                {% else %}
                                                    <span class="number">{{all_count.get('I', 0)}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-calendar"></i> Last month
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                            <div class="card">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="icon-big text-center">
                                                <i class="orange fas fa-question-circle"></i>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="detail">
                                                <p class="detail-subtitle">Unknown Serials</p>
                                                {% if all_count is none %}
                                                    <p>No entries found</p>
                                                {% else %}
                                                    <span class="number">{{all_count.get('N', 0)}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="fas fa-stopwatch"></i> Last month
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            {% include 'copyleft.html' %}
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="content">
                                            <div class="head">
                                                <h5 class="mb-0">Check one serial</h5>
                                                <p class="text-muted"></p>
                                            </div>
                                            <form method="POST" action="/check_one_serial" enctype="multipart/form-data">
                                                <div class="field">
                                                    <div class="input-group col-md-4">
                                                        <input class="form-control py-2" type="search" name="serial" placeholder="Enter your serial" id="example-search-input">
                                                        <span class="input-group-append">
                                                            <!--button class="btn btn-outline-secondary" type="button"-->
                                                            <button class="btn btn-primary mb-1">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <br>    
                                                    <h7 class="mb-0">check for your serial is valid or not</h7>
                                                        <br><br>
                                                </div>                                                      
                                            </form>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="content">
                                            <div class="head">
                                                <h7 class="mb-0">Import Excel file into the database ( last Update :{{last_import_date}}) </h7>
                                                <p class="text-muted"></p>
                                            </div>
                                                <form method="POST" action="/importdb" enctype="multipart/form-data">
                                                    <div class="field">
                                                        <div class="control">
                                                            <input class="form-control" type="file" id="formFileDisabled" name="file" accept=".xlsx">
                                                            
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <button class="btn btn-primary mb-4" style="width:100%">upload and import</button>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">Pie Chart</div>
                                        <div class="card-body">
                                            <p class="card-title"></p>
                                            <div class="canvas-wrapper">
                                                <meta id="my_playlist_data" data-playlist="{{all_count}}">
                                                <canvas class="chart" id="trafficflow"  style="height:100%;max-height:300px"></canvas>
                                            </div>
                                        </div>
                                            </div>
                                        </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table me-1"></i>
                                    Messages of last 30 days
                                </div>
                                <div class="card-body">
                                    <table id="datatablesSimple">
                                        <thead>
                                            <tr>
                                                <th>Sender</th>
                                                <th>Message</th>
                                                <th>Serial</th>
                                                <th>Response</th>
                                                <th>Platform</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Sender</th>
                                                <th>Message</th>
                                                <th>Serial</th>
                                                <th>Response</th>
                                                <th>Platform</th>
                                                <th>Date</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for sms in data.smss %}
                                                <tr>
                                                    <td>{{sms.sender}}</td>
                                                    <td>{{sms.message}}</td>
                                                    <td>{{sms.serial}}</td>
                                                    <td>{% if sms.response == "I" %} 
                                                        <p>Invalid</p> 
                                                        {% elif sms.response == "V" %} 
                                                        <p>Valid</p> 
                                                        {% elif sms.response == "N" %}
                                                        <p>Not Found</p>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if sms.platform == "S" %}
                                                            <p>SMS</p>
                                                        {% elif sms.platform == "A" %}
                                                            <p>APP</p>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{sms.process_date}}</td>
                                                </tr>
                                            {% endfor %}
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- add from other bootstape example for awesome table -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="static/assets/js/datatables-simple-demo1.js"></script>
    <!-- add from other bootstape example for awesome table -->
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/chartsjs/Chart.min.js"></script>
    <!--script src="static/assets/js/charts.js"></script-->
    <!--script src="static/assets/js/dashboard-charts.js"></script-->
    <script src="static/assets/js/script.js"></script>


<script>
    var trafficchart = document.getElementById("trafficflow");

    var xValues = ["Valid", "Invalid" ,"Not found" ];
    var yValues = $('#my_playlist_data').data("playlist"); 
    iValues=[]
    k = 0;
    j = 0;
    iValues[j] = 0;
    for (var i = 0; i < yValues.length; i++) {
        if (yValues[i]== "V"){
            j = 0;
            iValues[j] = 0;
        }
        if (yValues[i]== "I"){
            j = 1;
            iValues[j] = 0;
        }
        if (yValues[i]== "N"){
            j = 2;
            iValues[j] = 0; 
        }
        if (parseInt(yValues[i]) >=0 && parseInt(yValues[i]) <= 9) {
            k=1;
            iValues[j] = iValues[j] * 10 + parseInt(yValues[i]);
        } 
        
    }
    var barColors = [
        "#00B5AD",
        "#FF1E1E",
        "#F2711C",
    ];

    new Chart("trafficflow", {
    type: "pie",
    data: {
        labels: xValues,
        datasets: [{
        backgroundColor: barColors,
        hoverOffset: 4,
        data: iValues
        }]
    },
    options: {
        title: {
        display: true,
        text: ""
        }
    }
    });
</script>
</body>


</html>
