<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard | SMS Verification</title>
<!-- add from other bootstape example for awesome table -->
    <link href="static/assets/css/styles1.css" rel="stylesheet" >
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<!-- add from other bootstape example for awesome table -->

    <link href="static/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="static/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="static/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/css/master.css" rel="stylesheet">
    <link href="static/assets/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
    <script src="static\assets\vendor\jquery\jquery.min.js"></script>
    <script src="static\assets\vendor\bootstrap\js\bootstrap.min1.js"></script>

</head>


<body>
<section style="background-color: #eee;">
  <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
<form name="profile" action="{{ url_for('main.profile') }}" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <label for="imagefile" class="custom-file-upload"> 
                            <img src="static\assets\img\user_photo.jpg" name="avatar" id="avatar"  alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                            <input type='file' id='imagefile' name='imagefile' capture='user' accept='image/*'  
                            onchange="document.getElementById('avatar').src = window.URL.createObjectURL(this.files[0])" 
                            style="display: none;" value="static\assets\img\user_photo.jpg" />
                        </label> 
                        <br>
                        <h5 class="my-3">{{user.name}}</h5>
                        <h5 class="my-3">{{user.email}}</h5>
                        <br>
                        <br>
                        <div class="d-flex justify-content-center mb-2" >
                            <!--a href="" class="btn btn-outline-primary ms-1" type = "submit"> Save </a-->
                            <input type="submit" class="btn btn-outline-primary ms-1" value="Save" >
                            <a href="{{ url_for('main.index',user_name=user_name) }}" class="btn btn-outline-primary ms-1"> Home page </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="tel" name="phone" class="form-control" value="{{user.phone}}" placeholder="0888 888 8888" pattern="0[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="14"  title="Ten digits code" required/>    
                                <label style="font-size:9px;padding-left:20px"> Eg : 0541 222 2224  </label> 
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Job</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" name="job" class="form-control" value="{{user.job}}">
                                <!--p class="text-muted mb-0">{{user.job}}</p-->
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Birthday</p>
                            </div>
                            <div class="col-sm-9">

                                <input type="date" name="birthday" class="form-control" value="{{user.birthday.replace('.','-')}}">
                                <!--p class="text-muted mb-0">{{user.birthday}}</p-->
                            </div>  
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">gender</p>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-check-input" type="radio" name="gender" value = "m" id="genderMale" >
                                <label class="form-check-label" for="genderMale">
                                Male
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-check-input" type="radio" name="gender" value="f" id="genderFemale" >
                                <label class="form-check-label" for="genderFmale">
                                Female
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">language</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" name="language" class="form-control" value="{{user.language}}">
                                <!--p class="text-muted mb-0">{{user.language}}</p-->
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" name="address" class="form-control" value="{{user.address}}">
                                <!--p class="text-muted mb-0">{{user.address}}</p-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
    </div>
</section>

<script>

    if ("{{user.gender}}" == 'm'){
        document.getElementById("genderMale").checked = true;
    }
    else {
        document.getElementById("genderFemale").checked = true;
    }
</script>

 </body>
</html>