    <script>
        document.querySelectorAll(".edit-btn").forEach(btn => {
        btn.addEventListener("click", function() {
            let row = this.closest("tr");
            let roleCell = row.querySelector(".role");
            let activeCell = row.querySelector(".active");

            let role = roleCell.innerText;
            let active = activeCell.innerText;

            roleCell.innerHTML = `<input type="text" value="${role}">`;
            activeCell.innerHTML = `<input type="text" value="${active}">`;

            row.querySelector(".edit-btn").style.display = "none";
            row.querySelector(".save-btn").style.display = "inline";
        });
        });


        document.querySelectorAll(".save-btn").forEach(btn => {
        btn.addEventListener("click", function() {
            let row = this.closest("tr");
            let id = parseInt(row.dataset.id);

            let roleCell = row.querySelector(".role");
            let activeCell = row.querySelector(".active");

            let role = roleCell.querySelector("input").value;
            let active = activeCell.querySelector("input").value;
            alert(role)
            alert(active)
            
            let role1 = role.replace("Admin", "a").replace("User", "u").replace("Guest", "g");
            let active1 = active.replace("Active", "y").replace("Not Active", "n").replace("In progress", "p");
            alert(role1)
            alert(active1)


            fetch("/users", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ id, role1, active1 })
            })
            .then(res => res.json())
            .then(data => {
                roleCell.innerText = role;
                activeCell.innerText = active;

            row.querySelector(".edit-btn").style.display = "inline";
            row.querySelector(".save-btn").style.display = "none";
            });
        });
        });
    </script>
